.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product {
    max-width: 170px;
    min-width: 150px;
    padding: 10px 0;
    margin: 5px;
    box-shadow: lightslategray 0 1px 2px;
    border-radius: 10px;
    background-color: #fdfdfd;
    display: grid;
    grid-template-rows: 12% 10% 40% 15%;
  }
  .product h1 {
    font-size: large;
  }

  

  .product img{
    object-fit: contain;
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .sorter-move {
    transition: all 1s;
  }